<% provide(:title,"درباره ما") %>
<h1>درباره ما</h1>
<p>یک گروه دانشجویی که مدت‌ها به کنجکاوی و انجام پروژه‌های مختلف در زمینه‌های وب، Embedded Systems، امنیت وب، گیم، IoT، گرافیک و 3D، شبکه و اپلیکیشن های تحت ویندوز/اندروید/لینوکس پرداخت و امروز درحال پرورش ایده‌های خود بصورت حرفه‌ای است.</p>
