<% provide(:title,"راهنما") %>
<h1>راهنما</h1>
<p><%= link_to "مسیر شروع توسعه دهندگان وب", "https://t.me/meam_ir/22" %></p>
<p><%= link_to "مسیر توسعه دهندگان Font-End", "https://t.me/meam_ir/23" %></p>
<p><%= link_to "مسیر توسعه دهندگان Back-End", "https://t.me/meam_ir/24" %></p>
<p><%= link_to "مسیر DevOps ها", "https://t.me/meam_ir/25" %></p>
