<% provide(:title, "بازیابی رمزعبور") %>
<h1>رمز عبورم را فراموش کردم!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>

        <%= f.label :email, "پست الکترونیک" %>
        <%= f.text_field :email, class: "form-control", placeholder: "folan@bisar.ir" %>

      <%= f.submit "ثبت", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
