<h1><%= $APP_NAME %></h1>
<h2>بازیابی رمزعبور</h2>
<p>
  سلام  <%= @user.name %>،
</p>
<p>
  شما درخواست بازیابی رمز عبور کرده اید!


</p>
<p>
    درصورتی که شما این درخواست را نکرده اید، می توانید بیخیال این پیام شوید!
</p>
<p>
  با انتخاب پیوند زیر می توانید رمزعبور خود را تغییر دهید:
</p>
<b>
  <%= link_to "فعال شو!", edit_password_reset_url(@user.reset_token,
                                                       email: @user.email) %>
</b>
<p>
درصورتی که اعتبار آن تمام شده است، دوباره درخواست کنید.
</p>
