<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      فرم دارای
      <%= object.errors.count %>
      خطا است.
    </div>
    <ul>
    <% object.errors.each do |attr,msg| %>
      <li> <%= msg %> </li>
    <% end %>
    </ul>
  </div>
<% end %>
