<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      فرم دارای
      <%= @user.errors.count %>
      خطا هست.
    </div>
    <ul>
    <% @user.errors.each do |attr,msg| %>
      <li> <%= msg %> </li>
    <% end %>
    </ul>
  </div>
<% end %>
