<footer class="footer">
	<small>
		<a href="http://www.meam.ir">&copy گروه نرم افزاری میم</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "درباره ما", about_path %></li>
			<li><%= link_to "تماس با ما", contact_path %></li>
			<li><a href="http://www.meam.ir">میم</a></li>
		</ul>
	</nav>
</footer>
