<header class="navbar navbar-fixed-top navbar-inverse" id="header">
	<div class="container">
		<%= link_to "برنامه موقت", '#', id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to "خانه",   '#' %></li>
				<li><%= link_to "راهنما"  , '#' %></li>
				<li><%= link_to "ورود", '#' %></li>
			</ul>
		</nav>
	</div>
</header>