<header class="navbar navbar-inverse " id="header">  <!--  navbar-fixed-top   -->
	<div class="container">
		<%= link_to "برنامه موقت", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-left"> <!--  -->
				<li><%= link_to "خانه",   root_path %></li>
				<li><%= link_to "راهنما"  , help_path %></li>
				<li><%= link_to "ورود", '#' %></li>
			</ul>
		</nav>
	</div>
</header>
